---
import H1 from "./H1.astro";
import Image from "astro/components/Image.astro";
import about1 from "../assets/img/carol-close-md.webp";
---

<section class="p-2">
  <div class="flex max-w-2xl flex-col items-center gap-3">
    <div class="card max-w-2xl bg-cream text-blue shadow-lg">
      <div class="card-body">
        <H1>Quem é Carolina Procaci?</H1>
        <Image alt="Carolina Procaci" class="rounded-md" src={about1} />

        <ul class="m-2 flex flex-col gap-2 text-xl">
          <p>
            Sou <span class="font-bold"
              >biomédica formada pela Universidade Federal do Estado do Rio de
              Janeiro</span
            > e consultora em amamentação.
          </p>

          <p>
            Atualmente, estou fazendo <span class="font-bold"
              >pós-graduação em Cuidado Materno Infantil com Enfoque em
              Amamentação pela Famabe</span
            >, aprofundando ainda mais meu conhecimento técnico e humanizado.
          </p>
          <p>
            Faço parte do <span class="font-bold"
              >Clube de Profissionais do Aleitamento do Brasil</span
            >, do Instituto Mame Bem — uma rede comprometida com ética,
            evidências científicas e atualização constante.
          </p>
        </ul>
      </div>
    </div>

    <div class="flex flex-col gap-2 md:flex-row md:gap-1"></div>
    <div class="card max-w-2xl bg-cream text-xl text-blue shadow-lg">
      <div class="card-body">
        <div class="m-2 flex max-w-2xl text-xl flex-col gap-4">
          <p>
            Mas além de profissional da saúde, eu sou <span class="font-bold"
              >mãe de dois filhos</span
            > — e foi justamente na minha primeira experiência com a amamentação,
            em 2018, que nasceu minha missão.
          </p>
          <img
            width={320}
            height={0}
            alt="Carolina Procaci"
            class="rounded-md"
            src={"/carol-amamentando.webp"}
          />
          <p>
            Na época, enfrentei o medo de “não ter leite”, e desenvolvi
            estratégias pessoais para estimular minha produção.
          </p>
          <img
            width={320}
            height={0}
            alt="Carolina Procaci"
            class="rounded-md"
            src={"/carol-coletando.webp"}
          />
          <p class="text-justify text-xl">
            Com essas estratégias, consegui <span class="font-bold"
              >amamentar exclusivamente</span
            >, montar um <span class="font-bold">estoque de leite materno</span
            >, e ainda <span class="font-bold"
              >doar
              <span
                class="uppercase underline decoration-dashed underline-offset-4"
              >
                semanalmente
              </span>{" "}
              cerca de 1 litro
            </span>para um banco de leite humano.
          </p>
          <img
            width={320}
            height={0}
            alt="Carolina Procaci"
            class="mx-auto rounded-md"
            src={"/pote-leite.webp"}
          />

          <p class="text-justify text-xl">
            Essa vivência, somada à capacitação técnica, me levou a criar o
            <span class="font-bold">LactoFlow®</span>: um curso com o passo a
            passo estratégico e simples do que é necessário fazer para <span
              class="font-bold"
              >aumentar a produção de leite e eliminar a fórmula infantil</span
            > — mesmo que você sinta que já tentou de tudo.
          </p>
        </div>
      </div>
    </div>
    <div class="card max-w-2xl bg-cream text-xl text-blue shadow-lg">
      <div class="card-body">
        <H1>Por que eu criei o LactoFlow?</H1>

        <p class="text-justify text-xl">
          Porque, como mãe e como profissional, eu vi de perto <span
            class="font-bold"
            >muitas mulheres desistirem da amamentação por falta de apoio,
            orientação e segurança</span
          >.
        </p>
        <p class="text-justify text-xl">
          Criei esse curso para <span class="font-bold"
            >te ajudar a recuperar a produção, entender o seu corpo com mais
            clareza e ter suporte real na fase mais delicada da maternidade</span
          >.
        </p>
        <p class="text-justify text-xl">Você não precisa fazer isso sozinha.</p>
      </div>
    </div>
  </div>
</section>
