---
import "../styles/global.css";

import "@fontsource/metropolis/800.css";
import "@fontsource/metropolis/700.css";

import "@fontsource/metropolis/400.css";
import PostHog from "../components/posthog.astro";

const META_PIXEL_IDS_CSV = import.meta.env.META_PIXEL_ID || "";
const META_PIXEL_IDS = META_PIXEL_IDS_CSV.split(",")
  .map((id) => id.trim())
  .filter(Boolean);
const META_PIXEL_INIT = META_PIXEL_IDS.map(
  (id) =>
    `fbq('init', '${id}', {fbc: getCookie('_fbc'), fbp: getCookie('_fbp')});`
).join("\n      ");
---

<!doctype html>
<html lang="en">
  <head>
    <PostHog />
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "r95xzttid8");
    </script>
    <script is:inline>
      function getCookie(name) {
        const match = document.cookie.match(
          new RegExp("(^|; )" + name + "=([^;]*)")
        );
        return match ? decodeURIComponent(match[2]) : null;
      }
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = 1;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      {META_PIXEL_INIT}
      fbq("track", "PageView");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Método para aumentar a produção de leite materno"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>LactoFlow®</title>
  </head>
  <body class="bg-blue">
    <slot />
  </body>
</html>
