---
import "../styles/global.css";

import "@fontsource/metropolis/800.css";
import "@fontsource/metropolis/700.css";

import "@fontsource/metropolis/400.css";
import PostHog from "../components/posthog.astro";

import MetaPixel from "../components/MetaPixel.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PostHog />

    <MetaPixel />


    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "r95xzttid8");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Método para aumentar a produção de leite materno"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>LactoFlow®</title>
  </head>
  <body class="bg-blue">
    <slot />
  </body>
</html>
